<div class="jumbotron">
  <div>
  <p><a class="btn btn-lg btn-success" ng-href="#/create/vote">Let's Vote!!!<span class="glyphicon glyphicon-ok"></span></a></p>
    </div>
</div>

<div align="center" style="margin-bottom: 20px; ">
  <h1>  <span class="glyphicon glyphicon-baby-formula"></span> We are having a baby!!! <span class="glyphicon glyphicon-baby-formula"></span></h1>
</div>

<div class="row marketing">
  <h3> Thank you for visiting our site. </h3>
  <p class="lead">
    We decided to be old school and kept things natural. Which means we are not going to find out the gender of the baby and will wait until he/she is born.
    </p>

  <p>
    As we are divided on what the gender of the baby is going to be, we decided to have an open forum for everyone to vote. Please use the link below to vote, what you think we are having.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/create/vote">Let's Vote!!!<span class="glyphicon glyphicon-ok"></span></a></p>


  <h4>Megha</h4>
  <p>
    Well it is a boy... I have a hunch!!
  </p>

  <h4>Utkarsh</h4>
  <p>
    Well it is a girl... because I am attracted to pink color and having cravings!!!
  </p>

</div>
